<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/master.css" />
    <link rel="stylesheet" href="../styles/class.css" />
    <link rel="stylesheet" href="../styles/media.css" />
    <link href="../styles/all.css" rel="stylesheet" />

    <!-- Title -->
    <title>Articulos</title>
  </head>
  <body>
    <div class="contain"><!-- Grid -->

      <div id="menu" class="contain d-flex  color-blue2 justify-content-center mayus fixed h-navabar"><!-- Navbar ful -->
        <div class="contain-res"><!-- Navbar cont -->

            <nav class="navbar navbar-expand-lg navbar-light contain d-flex justify-content-between">

                <div class=""><!-- Navbar left -->
                  <a class="navbar-brand" href="../index.html">
                    <img src="../img/BananosGaming.jpg" class="d-inline-block align-top" alt="" /> Bananos Gaming</a>
                </div><!-- /Navbar left -->

                <div class=""><!-- /Navbar right mobile-->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div><!-- /Navbar right mobile-->

                <div class="collapse navbar-collapse flex justify-content" id="navbarSupportedContent">
                  <ul class="navbar-nav d-flex justify-content-end">
                    <li class="nav-item dropdown">
                      <a class="nav-link nav-button" href="bananews.html" id="navbarDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        Bananews!
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Pc</a>
                        <a class="dropdown-item" href="#">Xbox</a>
                        <a class="dropdown-item" href="#">PlayStation</a>
                        <a class="dropdown-item" href="#">Nintendo</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-button" href="bananart.html">Bananart</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link nav-button" href="articulos.html" id="articulosDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        Articulos
                      </a>
                      <div class="dropdown-menu" aria-labelledby="articulosDropdown">
                        <a class="dropdown-item" href="#">Cosplays</a>
                        <a class="dropdown-item" href="#">Tops</a>
                        <a class="dropdown-item" href="#">Reseñas</a>
                        <a class="dropdown-item" href="#">Geek</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link nav-button" href="" id="loginDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        Login
                      </a>
                      <div class="dropdown-menu" aria-labelledby="loginDropdown">
                        <span>Inicia sesión con tu cuenta</span>
                      </div>
                    </li>
                  </ul>
                </div>

            </nav>

        </div><!-- /Navbar cont -->
      </div><!-- /Navbar ful -->

      <div class="contain hd-navbar d-flex justify-content-center flex-column align-items-center"><!-- main contain -->


        <div class="contain-resful d-flex bg-white news"> <!-- section news  -->

          <div class="contain-resful"><!-- section news hero -->
            <div class="contain"> <!-- section news hero control -->
              <div class="contain">
                <span>Articulos</span>
              </div>
              <div class="contain">
                <span>Tags</span>
                <a href="#">Cosplays</a>
                <a href="#">Tops</a>
                <a href="#">Reseñas</a>
                <a href="#">Geek</a>
              </div>
            </div><!-- /section news hero control -->
            <div class=""><!-- section news hero news -->

              <div class="contain-res py-5"><!-- new -->
                <div class="row align-items-center text-left">
                  <div class="col-md-6">
                    <img src="../img/Asset80.svg" alt="" />
                  </div>
                  <div class="col-md-6">
                    <span>Cosplays</span>
                    <h2><b>Una noticia chingona</b></h2>
                    <p><b>Un parrafito para al mero estilo banano</b></p>
                    <span>18 de febrero del 2020 21:37</span>
                  </div>
                </div>
              </div><!-- /new -->

              <div class="contain-res py-5"><!-- new -->
                <div class="row align-items-center text-left">
                  <div class="col-md-6">
                    <img src="../img/Asset70.svg" alt="" />
                  </div>
                  <div class="col-md-6">
                    <span>Tops</span>
                    <h2><b>Una noticia chingona</b></h2>
                    <p><b>Un parrafito para al mero estilo banano</b></p>
                    <span>18 de febrero del 2020 21:37</span>
                  </div>
                </div>
              </div><!-- /new -->

              <div class="contain-res py-5"><!-- new -->
                <div class="row align-items-center text-left">
                  <div class="col-md-6">
                    <img src="../img/Asset101.svg" alt="" />
                  </div>
                  <div class="col-md-6">
                    <span>Reseñas</span>
                    <h2><b>Una noticia chingona</b></h2>
                    <p><b>Un parrafito para al mero estilo banano</b></p>
                    <span>18 de febrero del 2020 21:37</span>
                  </div>
                </div>
              </div><!-- /new -->

              <div class="contain-res py-5"><!-- new -->
                <div class="row align-items-center text-left">
                  <div class="col-md-6">
                    <img src="../img/Asset90.svg" alt="" />
                  </div>
                  <div class="col-md-6">
                    <span>Geek</span>
                    <h2><b>Una noticia chingona</b></h2>
                    <p><b>Un parrafito para al mero estilo banano</b></p>
                    <span>18 de febrero del 2020 21:37</span>
                  </div>
                </div>
              </div><!-- /new -->

            </div><!-- section news hero news -->
          </div><!-- /section news hero -->

          <div class=""><!-- section news most comment -->
            <h1>lo mas comentado</h1>
            <a href="bananart.html">
              <div class="news2 d-flex align-items-end" style=" background: url('../img/Asset70.svg')">
                <h2><b>Noticia mas comentada</b></h2>
              </div>
              <div class="news2 d-flex align-items-end" style=" background: url('../img/Asset80.svg')">
                <h2><b>Noticia mas comentada</b></h2>
              </div>
              <div class="news2 d-flex align-items-end" style=" background: url('../img/Asset90.svg')">
                <h2><b>Noticia mas comentada</b></h2>
              </div>
              <div class="news2 d-flex align-items-end" style=" background: url('../img/Asset101.svg')">
                <h2><b>Noticia mas comentada</b></h2>
              </div>
            </a>

          </div><!-- section news most comment -->



        </div><!-- /section news  -->

      </div><!-- main contain -->





    </div><!-- /grid -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  </body>
</html>
