<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/master.css" />
    <link href="../styles/all.css" rel="stylesheet" />

    <!-- Title -->
    <title>Bananews</title>
  </head>
  <body class="bg">
    <header>
      <div class="container-fluid color-blue fixed-top">
        <div class="container mayus">
          <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between w-100 flex-row">
              <a class="navbar-brand" href="../index.html">
                <img src="../img/BananosGaming.jpg" width="30" height="30" class="d-inline-block align-top" alt="" />
                Bananos Gaming
              </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse flex justify-content" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-end">
                  <li class="nav-item dropdown">
                    <a class="nav-link nav-button" href="bananews.html" id="navbarDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                      Bananews!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Pc</a>
                      <a class="dropdown-item" href="#">Xbox</a>
                      <a class="dropdown-item" href="#">PlayStation</a>
                      <a class="dropdown-item" href="#">Nintendo</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-button" href="bananart.html">Bananart</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link nav-button" href="" id="articulosDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                      Articulos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="articulosDropdown">
                      <a class="dropdown-item" href="#">Cosplays</a>
                      <a class="dropdown-item" href="#">Tops</a>
                      <a class="dropdown-item" href="#">Reseñas</a>
                      <a class="dropdown-item" href="#">Geek</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-button" href="#">Bananos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link nav-button" href="" id="loginDropdown" role="" data-toggle="" aria-haspopup="true" aria-expanded="false">
                      Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="loginDropdown">
                      <span>Inicia sesión con tu cuenta</span>
                    </div>
                  </li>
                </ul>
              </div>
          </nav>
        </div>
      </div>
    </header>

    <main class="container-fluid"><!-- Main  -->
      <div class="container">

        <div class="py-5 w-100"><!-- carousel  -->
          <div id="carouselnews" class="carousel slide carousel-fade h-50" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item d-flex align-items-center active">
                <img src="../img/first.jpg" class="d-block w-100 img-car img-fluid" alt="..." />
              </div>
              <div class="carousel-item d-flex align-items-center">
                <img src="../img/second.jpg" class="d-block w-100 img-fluid" alt="..." />
              </div>
              <div class="carousel-item d-flex align-items-center">
                <img src="../img/third.png" class="d-block w-100 img-fluid" alt="..." />
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselnews" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselnews" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div><!-- /carousel  -->

      </div>
    </main><!-- /Main  -->




    <footer><!-- footer  -->
      <div class="container-fluid bg-secondary text-white py-2 text-center">
        <div class="container">
          <span>Propiedad de Bananos Gaming</span>
        </div>
      </div>
    </footer><!-- /footer  -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  </body>
</html>
