body{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Gallery */
.galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}
.galeria > a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
}
.galeria a:hover img{
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}
.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.light-box img {
  width: 75vw;
  height: 75vh;
}
.light-box:target{
  transform: scale(1);
}
.close{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: red;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.next{
  display: block;
  background: red;
  color: white;
  height: 30px;
  width: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
/* /Gallery */



.color-blue{
  background: #009190;
}
.mayus{
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: black !important;
}
.bg{
  background: url('../img/bg.jpeg')  ;
  height: 100%;
}
.bg-slide{
  background: url('../img/BananosGaming.jpg')  ;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 100;
}
.hero{
  height: 100vh;
}
.nav-button:hover{
  background: #ffdc08;
  border-radius: 1rem;
}
.dropdown-menu{
  width: 25rem;
}
.dropdown-menu {
  left: auto!important;
  top: 2rem!important;
  right: -1rem!important;
}
.flex{
  display: flex;
}
.carousel-item{
  height: 50vh;
}

@media (min-width: 901px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .justify-content{
    justify-content: flex-end;;
  }
}
@media (max-width: 900px) {
  .justify-content{
    justify-content: center;
  }
  .dropdown:hover>.dropdown-menu {
    display: none;
  }
}
.btn-banano{
    background: #ffdc08!important;
}

.img-auto{
  width: auto;
  height: 100%;
}
.hv-25{
  height: 25vh;
}
.hv-50{
  height: 50vh;
}
.hv-75{
  height: 75vh;
}
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
/*
 banana #ffdc08
mano #009190
letras #01d59a
*/
