body{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
.color-blue{
  background: #009190;
}
.mayus{
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: black !important;
}
.bg{
  background: url('../img/bg.jpeg')  ;
  height: 100%;
}
.bg-slide{
  background: url('../img/BananosGaming.jpg')  ;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 100;
}
.hero{
  height: 100vh;
}
.nav-button:hover{
  background: #ffdc08;
  border-radius: 1rem;
}
.dropdown-menu{
  width: 25rem;
}
.dropdown-menu {
  left: auto!important;
  top: 2rem!important;
  right: -1rem!important;
}
.flex{
  display: flex;
}
.carousel-item{
  height: 50vh;
}

@media (min-width: 901px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .justify-content{
    justify-content: flex-end;;
  }
}
@media (max-width: 900px) {
  .justify-content{
    justify-content: center;
  }
  .dropdown:hover>.dropdown-menu {
    display: none;
  }
}
.btn-banano{
    background: #ffdc08!important;
}

.img-auto{
  width: auto;
  height: 100%;
}
.hv-25{
  height: 25vh;
}
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
/*
 banana #ffdc08
mano #009190
letras #01d59a
*/
