@media (max-width: 576px) {
  .hidden-es{
    display: none
  }
  .contain-res{
    width: 95%;
  }
  .contain-resful{
    width: 100%;
  }
  .hv-50{
    height: 25vh;
  }
  .carousel-item{
    height: 100%;
  }
  .text-net {
    align-items: center;
  }
  .col-4{
    height: 6rem!important;
    padding: 0!important;
    margin: 0!important;
  }
  .col-4 img{
    padding: 0!important;
    margin: .5rem!important;
  }
  .cl-2{
    width: 100%;
  }
  .gallery > a {
    width: 30%;
    height: 15rem;
  }
  .gallery img {
    box-shadow: none;
  }
  .cl-es {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

}
@media (max-width: 768px){
  .cl-md{
    width: 100%;
  }
  .cl-md-9{
    width: 66%;
  }
  .cl-md-6{
    width: 50%;
  }
  .cl-md-4{
    width: 33%;
  }
  .cl-md-3{
    width: 33%;
  }
}
@media (min-width: 992px){
  .cl-lg{
    width: 100%;
  }
  .cl-lg-9{
    width: 66%;
  }
  .cl-lg-6{
    width: 50%;
  }
  .cl-lg-4{
    width: 33%;
  }
  .cl-lg-3{
    width: 33%;
  }
}
@media (min-width: 1200px){
  .cl-xl{
    width: 100%;
  }
  .cl-xl-6{
    width: 50%;
  }
  .cl-xl-4{
    width: 33%;
  }

}
@media (min-width: 901px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .justify-content{
    justify-content: flex-end;;
  }
}
/*
@media (max-width: 768px) {
  .col-6{
    height: 15rem!important;
  }
  .hidden-es{
    display: none
  }
  .contain-res{
    width: 95%;
  }
}
@media (max-width: 992px) {
  .col-6{
    height: 15rem!important;
  }
  .hidden-es{
    display: none
  }
  .contain-res{
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .col-6{
    height: 15rem!important;
  }
  .hidden-es{
    display: none
  }
  .contain-res{
    width: 95%;
  }
}

@media (max-width: 576px) {
  .col-6{
    height: 15rem!important;
  }
  .hidden-es{
    display: none
  }
  .contain-res{
    width: 95%;
  }
}
@media (min-width: 901px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .justify-content{
    justify-content: flex-end;;
  }
}
@media (max-width: 900px) {
  .justify-content{
    justify-content: center;
  }
  .dropdown:hover>.dropdown-menu {
    display: none;
  }
}*/
